.neon-button {
    width: auto;
    font-size: 32px;
    border-top-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    background-color: rgba(188, 188, 188, 0);
    -unity-text-outline-color: rgb(255, 73, 254);
    -unity-text-outline-width: 2px;
    border-left-color: rgb(75, 255, 254);
    border-right-color: rgb(75, 255, 254);
    border-top-color: rgb(75, 255, 254);
    border-bottom-color: rgb(75, 255, 254);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    -unity-font-style: bold;
    transition-property: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    position: relative;
    -unity-font-definition: url("project://database/Assets/UI/BIG%20JOHN.otf?fileID=12800000&guid=629d93e25f605324c9a226ca3d123739&type=3#BIG JOHN");
    -unity-text-align: middle-center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
    align-self: auto;
    align-content: auto;
    padding-top: 15px;
}

.neon-button:hover {
    -unity-text-outline-color: rgb(75, 255, 254);
    border-left-color: rgb(255, 73, 254);
    border-right-color: rgb(255, 73, 254);
    border-top-color: rgb(255, 73, 254);
    border-bottom-color: rgb(255, 73, 254);
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}

.helpText {
    color: rgb(221, 241, 240);
    font-size: 26px;
}

.helpTitle {
    -unity-font-style: bold;
    font-size: 36px;
}
